.container {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
}

.container > h3 {
  font-family: "OSWALD";
  font-size: 40px;
  margin: 0px;
}
.container > hr {
  border: #171717 solid;
  width: 100px;
}

.container > h2 {
  font-family: "OSWALD";
}

.inputs {
  border: solid 1px;
  padding: 10px;
  width: 450px;
  line-height: 30px;
  margin-bottom: 20px;
}

.add-button {
  background-color: #171717;
  color: #dfdfdf;
  font-family: "OSWALD";
  font-size: 15px;
  border: none;
  padding: 10px 32px;
  transition-duration: 0.6s;
}

.add-button:hover {
  cursor: pointer;
  background-color: gray;
}

.cards-container {
  font-family: "OSWALD";
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border: black 1px solid;
  min-width: 25vh;
  max-width: 100%;
  margin: 20px;
}

.card > h1 {
  margin-bottom: 0px;
}

.card > P {
  margin-top: 0px;
}

.card > h2 {
  opacity: 0.3;
}

.card > h2:hover {
  opacity: 1;
}
